.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-group-item {
    font-size: 20px;
    color: black;
}

.color {
    color: white;
}