<div *ngIf="loading" class="d-flex justify-content-center mt-10">
    <app-spinner></app-spinner>
</div>
<div *ngIf="questions.length > 0 && loading == false" class="row mt-3">

    <div class="col-lg-8 offset-2">
        <div *ngFor="let question of questions; let i = index"  class="card mb-3">
            <div class="card-body text-center">
                <p class="title question-title">{{ question.title }}</p>
                <div class="row">
                    <div class="col-6">
                        <p><span class="badge badge-dark">{{ question.seg }}s</span></p>
                    </div>
                    <div class="col-6">
                        <p><span class="badge badge-dark">{{ question.points }}pts</span></p>
                    </div>
                </div>
                <ul class="list-group text-center">
                    <div *ngFor="let answer of question.listAnswer">
                        <li [ngClass]="{'correct': answer.isCorrect}" class="list-group-item title">
                            {{ answer.title }}
                        </li>
                    </div>
                    <i (click)="deleteQuestion(i)" class="fas fa-trash mt-3"></i>
                </ul>
            </div>
        </div>
        <button (click)="finishQuizz()" style="width: 100%;" class="btn-prin">FINALIZAR QUIZZ</button>
    </div>
</div>
