<div class="d-flex justify-content-center mt-3">
    <button routerLink="/dashboard/new-quizz" class="btn-prin btn-quizz">Nuevo</button>
</div>
<div *ngIf="loading" class="d-flex justify-content-center">
    <app-spinner></app-spinner>
</div>
<div *ngIf="quizzArray.length > 0 && !loading" class="container">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Cant. Preguntas</th>
                                <th>Codigo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quizz of quizzArray">
                                <td>{{ quizz.title }}</td>
                                <td>{{ quizz.questionCount }}</td>
                                <td><span class="badge badge-dark">{{ quizz.code }}</span></td>
                                <td>
                                    <i [routerLink]="['/dashboard/quizz/',quizz.id]" class="fas fa-search"></i>
                                    <i [routerLink]="['/dashboard/performance',quizz.id]" class="fas fa-chart-line"></i>
                                    <i (click)="deleteQuizz(quizz.id!)" class="fas fa-trash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>
</div>
<div *ngIf="quizzArray.length == 0 && !loading" class="container mt-3">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="title">No hay datos para mostrar</h5>
            </div>
        </div>
    </div>
</div>
