.input-enter {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    text-align: center;
    height: 3.125rem;
    font-size: 1.25rem;
}

.btn-enter {
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}